html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  background-image: url("Orange.JPG");
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #ff6a00;
  text-shadow: 0 0 10px #ff6a00, 0 0 20px #ff6a00, 0 0 30px #ff6a00;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#textInput {
  width: 60%;
  padding: 12px;
  font-size: 1rem;
  background-color: #1c1c1c;
  color: #ff6a00;
  border: 2px solid #ff6a00;
  border-radius: 5px 0 0 5px;
  outline: none;
  box-shadow: 0 0 10px #ff6a00;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #ff6a00;
  color: #0d0d0d;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0d0d0d;
  color: #ff6a00;
  box-shadow: 0 0 15px #ff6a00;
}

#nameSearch {
  border-radius: 0 5px 5px 0;
  margin-left: 10px;
}

#symbolSearch {
  border-radius: 5px;
  margin-left: 10px;
}

#result {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #ff6a00;
  box-shadow: 0 0 20px #ff6a00;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ff6a00;
}

th {
  background-color: #ff6a00;
  color: #0d0d0d;
  text-transform: uppercase;
}


#goBackButton{
    display:flex; 
    justify-content: center;
    align-items: center;
  padding: 10px; 
  border-radius: 4px;
  background: yellow;
  color: #fff;
  font-size: 20px;
  cursor: pointer; 
  box-shadow: 0 0 20px white, 0 0 20px white;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  margin: 20px;
}
#goBackButton:hover{background-color: white;}

.goBackText{
    color: white
}
.goBackText:hover{color: yellow;}