html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0d0d0d;
  color: yellow;
  background-image: url("Yellow.png");
  padding: 20px;
  margin: 0;
}

h1{
  text-align: center;
  color: yellow;
  text-shadow: 0 0 10px yellow;
  font-size: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 5px;
  margin-top: 20px;
  background-color: #0d0d0d;
  opacity: 90%;
}

th, td {
  padding: 20px;
  border: 1px solid yellow;
  text-align: center;
  font-size: 30px;
}

th{
  background-color: #1a1a1a;
  color: yellow;
}

#addMeetingForm{
  margin-top: 20px;
  align-items: center;
}

input, select, button{
  background-color: #1a1a1a;
  color: yellow;
  border: 1px solid yellow;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.meeting{
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 2px;
  margin: 5px;
  font-size: 28px;
}

.goBackLink{
  text-decoration: none;
}


#goBackButton{
  padding: 10px; 
  border-radius: 4px;
  background: rgb(200, 200, 0);
  color: #fff;
  font-size: 20px;
  cursor: pointer; 
  box-shadow: 0 0 20px rgb(200, 200, 0), 0 0 20px rgb(200, 200, 0);
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  margin: 20px;
  }
  
  #goBackButton:hover{
  background-color: white;
  }
  #goBackButton:hover .clicker {
  color: black;
  }